/* A lot of images are from an icon-font */
/* size of images must be set by font-size */
/* CSS doesn't support setting font-size according to parent width */
/* this we use JS to set value of computer width to font size */

/* initial wallpaper */

.top-container {
  background-color: var(--primary-color);
  box-sizing: border-box;
  height: 100dvh;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-areas:
    "cloud-1 cloud-1 . . ."
    ". heading heading heading ."
    ". . . cloud-2 cloud-2"
    ". . theme-switch . .";
  row-gap: 1em;
}

.cloud:nth-of-type(1) {
  grid-area: cloud-1;
}

.heading {
  grid-area: heading;
  display: grid;
  place-content: center;
}

/* webpage heading */
.heading h1 {
  font-size: clamp(1em, 15vw, 6em);
  font-family: "Sacramento", cursive;
  color: var(--accent-color);
}

.cloud:nth-of-type(2) {
  grid-area: cloud-2;
}

/* theme switch button */
#theme-switch {
  grid-area: theme-switch;
  color: var(--accent-color);
  view-transition-name: theme-switch;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0%);
  }

  75% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::view-transition-group(theme-switch) {
  animation-duration: calc(2 * var(--animation-time));
  animation-timing-function: linear;
}

::view-transition-old(theme-switch) {
  animation-name: slide-out;
}

::view-transition-new(theme-switch) {
  animation-name: slide-in;
}

/* main content */

/* intro section */
.middle-container {
  margin: 5rem 0;
}

.profile-img {
  border-radius: 50%;
  width: 40%;
}

.intro {
  width: 60%;
  margin: auto;
}

/* projects section */
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: auto 30px;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent-color);
  padding: 2rem;
  border-radius: 1rem;
}

.project-box .project-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-description h3 {
  color: var(--background-color);
}

.project-description hr {
  margin: 0 auto;
  border-style: solid;
  border-radius: 1rem;
  border-width: 3px;
  width: 95%;
  border-color: var(--seconday-color);
}

.project-description p {
  width: 90%;
  color: var(--background-color);
}

.project-box .project-links {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-box .project-links a {
  color: var(--background-color);
  font-size: 1.5rem;
}

.project-box a:hover {
  transform: scale(1.25);
}

/* skills section */
.skills {
  margin: 5rem auto;
}

.skill-row {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* odd numbered skills have images at left */
.skill-row:nth-of-type(odd) .skill-box p {
  text-align: left;
}

/* even numbered skills have images at right */
.skill-row:nth-of-type(even) .skill-box p {
  text-align: right;
}

.skill-box p {
  width: 75%;
}

.skill-img {
  width: 25%;
  margin: auto 1rem;
}

/* contact section */
.contact-me h3 {
  font-family: "Sacramento";
  font-size: 2.5rem;
  margin: 3rem 0;
}

.contact-message {
  width: 40%;
  margin: 2rem auto 3rem auto;
}

.btn {
  background: var(--accent-color);
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  color: #ffffff;
  background: var(--seconday-color);
}

/* webpage footer */
.bottom-container {
  background-color: var(--accent-color);
  padding: 50px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link-box {
  display: flex;
  flex-direction: row;
}

.footer-link iconify-icon {
  color: var(--seconday-color);
  font-size: 1.5rem;
  margin: 10px 20px;
}

.footer-link iconify-icon:hover {
  color: var(--primary-color);
}

.copyright {
  color: var(--seconday-color);
  font-size: 0.75rem;
  padding: 1rem 0;
}

@media screen and (min-width: 800px) {
  .profile-img {
    width: 25%;
  }

  .intro {
    width: 30%;
  }

  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-box {
    width: 25%;
  }

  .skill-row {
    width: 50%;
  }
}