@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

:root {
  --animation-time: 300ms;
  --primary-color: #e4f9f5;
  --accent-color: #66bfbf;
  --seconday-color: #11999e;
  --text-color-dark: #40514e;
  --text-color-light: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--text-color-dark);
  text-align: center;
  font-family: "Merriweather", serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: var(--accent-color);
  font-weight: normal;
  padding-bottom: 10px;
}

a {
  color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all var(--animation-time) linear;
}

a:hover {
  color: var(--seconday-color);
  transition: color var(--animation-time) linear;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--seconday-color);
  font-size: 1.5rem;
}

hr {
  border-color: var(--primary-color);
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}